.post-card{
    /* min-height: 100px;
    width: 400px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; */
}
.postContainer{
    position: relative;
    top: 80px;
}

.post-wrapper{
    margin-top: -7px;
}